<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">手机号码</th>
            <td>
                <div>{{ phone }}</div>
            </td>
            <td>
                <button class="btn btn-outline-primary">更换绑定手机</button>
            </td>
        </tr>
        <tr>
            <th scope="row">微信</th>
            <td>
                <div *ngIf="nickname !== ''">{{ nickname }}</div>
            </td>
            <td>
                <a *ngIf="nickname === ''" class="btn btn-outline-primary" href="{{ bindWechat }}">绑定微信</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>已绑定的银行卡</div>
    <button class="btn btn-outline-primary" (click)="bindBankCard()">绑定银行卡</button>
    <table class="table">
        <tbody>
        <tr *ngFor="let card of cards">
            <th scope="row">银行卡号</th>
            <td>
                <div>{{ card.userid }}</div>
            </td>
            <td>
                <button class="btn btn-outline-danger">解绑</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

