<div [style.width]="boardWidth">
    <div [hidden]="message === ''" class="alert alert-danger"> {{message}}</div>
    <div class="alert alert-primary d-flex flex-row justify-content-between" role="alert">
        <div>
            我的资产
        </div>
    </div>
    <div class="d-flex flex-row justify-content-around align-items-center">
        <div>账户余额：{{ amount }} 元</div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div>可提取金额：{{ available }} 元</div>
            <button class="btn btn-sm btn-outline-danger" (click)="withdrawCash()">提现</button>
        </div>
    </div>


    <div class="alert alert-primary d-flex flex-row justify-content-between" role="alert">
        <div>
            我的银行卡
        </div>
        <button class="btn btn-sm btn-outline-primary" (click)="bindBankCard()">绑定银行卡</button>
    </div>
    <table class="table">
        <tbody>
        <tr *ngFor="let card of cards">
            <th scope="row">{{ card.original_bank_no }}</th>
            <td> {{ card.original_name }}</td>
            <td>
                <div *ngIf="card.is_default">默认卡</div>
            </td>
            <td>
                <button class="btn btn-sm btn-outline-danger" *ngIf="!card.is_default"
                        (click)="setAsDefaultBankCard(card.bank_id)">设为默认
                </button>
                <button class="btn btn-sm btn-outline-dark" (click)="unbindBankCard(card.bank_id)">解绑</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-primary d-flex flex-row justify-content-between" role="alert">
        <div>
            基本信息
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">手机号码</th>
                <td>
                    <div>{{ phone }}</div>
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-primary">更换绑定手机</button>
                </td>
            </tr>
            <tr>
                <th scope="row">微信</th>
                <td>
                    <div *ngIf="nickname !== ''">{{ nickname }}</div>
                    <a class="btn btn-outline-primary" href="{{ bindWechat }}">绑定微信</a>
                </td>
                <td>
                    <a *ngIf="nickname === ''" class="btn btn-outline-primary" href="{{ bindWechat }}">绑定微信</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
