<div class="d-flex flex-row justify-content-start align-items-center">
    <div ngbDropdown>
        <button class="btn btn-outline-primary" ngbDropdownToggle> {{ btnName }} </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <button *ngFor="let shop of shops" class="dropdown-item" (click)="onShopSelected(shop)">
                {{ shop.name }}
            </button>
        </div>
    </div>
    <a class="btn btn-primary" [routerLink]="['/edit/product']">新增商品</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">商品名</th>
            <th scope="col">销量</th>
            <th scope="col">创建时间</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">{{ product.index }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.sales }}</td>
            <td>{{ product.createTime }}</td>
            <td *ngIf="product.status === 0">已上架</td>
            <td *ngIf="product.status === 1">已下架</td>
            <td>
                <button class="btn btn-outline-secondary" (click)="manageProductCard(product.pid)"
                        *ngIf="product.type === 1">卡券
                </button>
                <button class="btn btn-outline-secondary" (click)="changeProductStatus(0,product.pid)">上架</button>
                <button class="btn btn-outline-secondary" (click)="changeProductStatus(1,product.pid)">下架</button>
                <!--<button class="btn btn-outline-primary">编辑</button>-->
                <button class="btn btn-outline-danger" (click)="removeProduct(product.pid)">删除</button>
            </td>
        </tbody>
    </table>
</div>
