<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>{{ orderTime }}</div>
    <div>用户下单</div>
    <div>{{ payTime }}</div>
    <div>付款成功</div>
    <div>{{ submitRefundTime }}</div>
    <div>用户申请退款，退款原因：{{ refundReason }}</div>
    <div *ngIf="status === 1 || status === 2">
        <div>{{ refundTime }}</div>
        <div>发起退款</div>
    </div>
    <div *ngIf="status === 2">
        <div>{{ refundSuccessTime }}</div>
        <div>退款完成，退回至用户账户</div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="status === 0" type="button" class="btn btn-outline-danger" (click)="activeModal.close('Refund')">
        确认无误，退款
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close')">关闭</button>
</div>