<form #menuForm="ngForm">
    <div [hidden]="errorMessage === ''"
         class="alert alert-danger">
        {{errorMessage}}
    </div>
    <button class="btn btn-success" [disabled]="!menuForm.form.valid" (click)="convertMenuToJson()">提交</button>
    <hr>

    <button class="btn btn-success" (click)="AddMainMenu()">添加一级菜单</button>

    <div class="d-flex flex-column justify-content-start">
        <div class="d-flex flex-row justify-content-start" *ngFor="let mainMenu of mainMenus">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="form-group" *ngIf="mainMenu.subMenus.length > 1">
                    <label> 一级菜单名称 </label>
                    <input type="text" class="form-control"
                           [(ngModel)]="mainMenu.name" name="mainMenuName-{{mainMenu.id}}"
                           #mainMenuName="ngModel"
                           required/>
                </div>
                <button class="btn btn-success" (click)="AddSubMenu(mainMenu.id)">添加二级菜单</button>
            </div>
            <div *ngFor="let menu of mainMenu.subMenus">
                <button class="btn btn-outline-success" (click)="RemoveSubMenu(mainMenu.id, menu.id)">移除二级菜单</button>
                <div class="form-group">
                    <div ngbDropdown #businessTypeDropdown="ngbDropdown">
                        <button class="btn btn-outline-primary" id="menuType" ngbDropdownToggle>{{ menu.typeName }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            <button *ngFor="let item of menuTypeGroup" class="dropdown-item"
                                    (click)="chooseMenuType(item.index, mainMenu.id, menu.id)">{{ item.value }}
                            </button>
                        </div>
                    </div>
                    <!--<div>{{ menu.typeHint }}</div>-->
                </div>

                <div [hidden]="menuName.valid || menuName.pristine"
                     class="alert alert-danger">
                    * 名称为必填项
                </div>
                <div class="form-group">
                    <label> * 名称: </label>
                    <input type="text" placeholder="输入菜单名称" class="form-control"
                           [(ngModel)]="menu.name" name="menuName-{{menu.id}}"
                           #menuName="ngModel"
                           required/>
                </div>

                <div *ngIf="menu.type === 'click' || menu.type === 'scancode_push'|| menu.type === 'scancode_waitmsg'
                || menu.type === 'pic_sysphoto'|| menu.type === 'pic_photo_or_album' || menu.type === 'pic_weixin' || menu.type === 'location_select'">
                    <div [hidden]="menuKey.valid || menuKey.pristine"
                         class="alert alert-danger">
                        * KEY为必填项
                    </div>
                    <div class="form-group">
                        <label for="menuKey"> * KEY: </label>
                        <input type="text" id="menuKey" class="form-control"
                               [(ngModel)]="menu.key" name="menuKey-{{menu.id}}"
                               #menuKey="ngModel"
                               required/>
                    </div>
                </div>

                <div *ngIf="menu.type === 'media_id' || menu.type === 'view_limited'">
                    <div [hidden]="menuMediaId.valid || menuMediaId.pristine"
                         class="alert alert-danger">
                        * MediaId为必填项
                    </div>
                    <div class="form-group">
                        <label for="menuMediaId"> * Media ID: </label>
                        <input type="text" id="menuMediaId" class="form-control"
                               [(ngModel)]="menu.mediaId" name="menuMediaId-{{menu.id}}"
                               #menuMediaId="ngModel"
                               required/>
                    </div>
                </div>

                <div *ngIf="menu.type === 'miniprogram' || menu.type === 'view'">
                    <div [hidden]="menuURL.valid || menuURL.pristine"
                         class="alert alert-danger">
                        * URL为必填项
                    </div>
                    <div class="form-group">
                        <label for="menuURL"> * URL: </label>
                        <input type="text" id="menuURL" class="form-control"
                               [(ngModel)]="menu.url" name="menuURL-{{menu.id}}"
                               #menuURL="ngModel"
                               required/>
                    </div>
                </div>

                <div *ngIf="menu.type === 'miniprogram'">
                    <div [hidden]="menuAppId.valid || menuAppId.pristine"
                         class="alert alert-danger">
                        * AppId为必填项
                    </div>
                    <div class="form-group">
                        <label for="menuAppId"> * APPID: </label>
                        <input type="text" id="menuAppId" class="form-control"
                               [(ngModel)]="menu.appid" name="menuAppId-{{menu.id}}"
                               #menuAppId="ngModel"
                               required/>
                    </div>
                </div>

                <div *ngIf="menu.type === 'miniprogram'">
                    <div [hidden]="menuPagePath.valid || menuPagePath.pristine"
                         class="alert alert-danger">
                        * 页面路径为必填项
                    </div>
                    <div class="form-group">
                        <label for="menuPagePath"> * 页面路径: </label>
                        <input type="text" id="menuPagePath" class="form-control"
                               [(ngModel)]="menu.pagePath" name="menuPagePath-{{menu.id}}"
                               #menuPagePath="ngModel"
                               required/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
