<div class="d-flex flex-row justify-content-start align-items-center basic" *ngIf="nickName !== ''">
    <img class="img-thumbnail" src="{{ headImage }}" alt="headImg">
    <div class="card-body">
        <h3>{{ nickName }}</h3>
        <p>主体信息：{{ principalName }}</p>
        <p>微信号：{{ alias }}</p>
        <p>介绍：{{ signature }}</p>
    </div>
</div>
<hr>
<button class="btn btn-outline-danger" (click)="reauthorization()">{{ btnAuthText }}</button>
<button *ngIf="nickName !== ''" class="btn btn-outline-info" (click)="fastRegisterMiniProgram()">快速注册小程序</button>
<div *ngIf="nickName !== ''" class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">权限</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let func of funcInfo">
            <th scope="row">{{ func.id }}</th>
            <td>{{ func.name }}</td>
        </tbody>
    </table>
</div>