<form #verificationCodeForm="ngForm">
    <ngb-alert type="danger" *ngIf="message" (close)="message=''">{{ message }}</ngb-alert>
    <div class="form-group">
        <label for="mobilePhone">手机号码</label>
        <div *ngIf="mobilePhoneValue.invalid && (mobilePhoneValue.dirty || mobilePhoneValue.touched)"
             class="alert alert-danger">
            <div *ngIf="mobilePhoneValue.errors.required">
                * 必填项
            </div>
        </div>
        <div class="d-flex flex-md-row justify-content-between">
            <input type="text" class="form-control"
                   id="mobilePhone" name="mobilePhone" #mobilePhoneValue="ngModel"
                   placeholder="请输入手机号"
                   [(ngModel)]="phone"
                   (blur)="onBlur()"
                   [disabled]="disablePhone"
                   required/>
            <button type="button" class="btn btn-primary btn-send-code"
                    (click)="sendVerificationCode()" [disabled]="hasSent"> {{ btnSendText }}
            </button>
        </div>
    </div>
    <div class="form-group">
        <label for="inputVerificationCode">验证码</label>
        <div *ngIf="verificationCodeValue.invalid && (verificationCodeValue.dirty || verificationCodeValue.touched)"
             class="alert alert-danger">
            <div *ngIf="verificationCodeValue.errors.required">
                * 必填项
            </div>
            <div *ngIf="verificationCodeValue.errors.minlength">
                验证码输入有误
            </div>
        </div>
        <input type="number" class="form-control"
               id="inputVerificationCode" name="inputVerificationCode" #verificationCodeValue="ngModel"
               placeholder="请输入验证码"
               [(ngModel)]="verificationCode"
               required minlength="6"/>
    </div>
    <button (click)="onConfirm()" type="button"
            class="btn btn-success btn-lg btn-block"
            [disabled]="!verificationCodeForm.form.valid"> {{ btnConfirmText }}
    </button>
</form>
