<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="t-container">-->
<!--<h1>-->
<!--Welcome to {{ title }}!-->
<!--</h1>-->
<!--<img alt="Angular Logo"-->
<!--src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->

<!--<div class="generateSKUos-f-t">-->
<!--<div class="collapse" id="navbarToggleExternalContent">-->
<!--<div class="bg-dark p-4">-->
<!--<h4 class="text-white">Collapsed content</h4>-->
<!--<span class="text-muted">Toggleable via the navbar brand.</span>-->
<!--</div>-->
<!--</div>-->
<!--navbar navbar-expand-lg navbar-light bg-light-->
<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex flex-row">
        <a class="navbar-brand" href="#">
            <img src="../assets/brand/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            管理系统
        </a>
        <div class="nav nav-pills d-flex flex-row">
            <a class="nav-item nav-link" [ngClass]="{'active': focusItem === 'order'}" (click)="onFocus('order')">订单</a>
            <a class="nav-item nav-link" [ngClass]="{'active': focusItem === 'product'}"
               (click)="onFocus('product')">商品</a>
            <a class="nav-item nav-link" [ngClass]="{'active': focusItem === 'user'}" (click)="onFocus('user')">用户</a>
            <a class="nav-item nav-link" [ngClass]="{'active': focusItem === 'business'}" (click)="onFocus('business')">商户</a>
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="订单号" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>
    </form>
</nav>
<!--</div>-->

<router-outlet></router-outlet>


