<div class="d-flex flex-row flex-wrap">
    <div class="card" style="width: 18rem;" *ngFor="let template of templates">
        <img class="card-img-top" src="../../../assets/sample/shop.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{template.userDesc}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <button class="btn btn-primary" (click)="details(template)">查看详情</button>
        </div>
    </div>

    <!--<div class="card" style="width: 18rem;">-->
    <!--<img class="card-img-top" src="../../../assets/sample/map.jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h5 class="card-title">美食地图</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
    <!--content.</p>-->
    <!--<button class="btn btn-primary" (click)="intro(1)">查看详情</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="card" style="width: 18rem;">-->
    <!--<img class="card-img-top" src="../../../assets/sample/coupon.jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h5 class="card-title">卡券</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
    <!--content.</p>-->
    <!--<button class="btn btn-primary">查看详情</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="card" style="width: 18rem;">-->
    <!--<img class="card-img-top" src="../../../assets/sample/chart.jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h5 class="card-title">数据统计</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
    <!--content.</p>-->
    <!--<button class="btn btn-primary">查看详情</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="card" style="width: 18rem;">-->
    <!--<img class="card-img-top" src="../../../assets/sample/development.jpg" alt="Card image cap">-->
    <!--<div class="card-body">-->
    <!--<h5 class="card-title">定制开发</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
    <!--content.</p>-->
    <!--<button class="btn btn-primary">查看详情</button>-->
    <!--</div>-->
    <!--</div>-->
</div>