<div class="container-fluid d-flex flex-row justify-content-start board">
    <div class="d-flex flex-column align-items-center justify-content-start panel">
        <div class="d-flex flex-row justify-content-around align-items-center panel-subject" (click)="main()">
            <img src="../../../assets/panel/main.png">
            <div>回首页</div>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center panel-subject" (click)="basic()">
            <img src="../../../assets/panel/basic.png">
            <div>基础</div>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center panel-subject">
            <img src="../../../assets/panel/func.png">
            <div>功能</div>
        </div>
        <div class="panel-subject panel-item" (click)="template()">模板库</div>
        <div class="panel-subject panel-item" (click)="products()">商品管理（含卡券）</div>
        <div class="panel-subject panel-item" (click)="orders()">订单管理</div>
        <div class="panel-subject panel-item" (click)="users()">用户管理</div>
    </div>
    <router-outlet></router-outlet>
</div>

