<div class="container">
    <form #productFrom="ngForm">
        <button class="btn btn-success" [disabled]="!productFrom.form.valid" (click)="onSubmit()">提交</button>
        <hr>

        <div class="form-group">
            <label>商品类型: </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="type" name="productTypeRadios" id="entity"
                       value='0' checked="{{ type === '0' }}">
                <label class="form-check-label" for="entity">
                    实物
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="type" name="productTypeRadios" id="coupon"
                       value='1' checked="{{ type === '1' }}">
                <label class="form-check-label" for="coupon">
                    卡券
                </label>
            </div>
        </div>

        <div [hidden]="productName.valid || productName.pristine"
             class="alert alert-danger">
            * 商品名称为必填项
        </div>
        <div class="form-group">
            <label for="productName">商品名称: </label>
            <input type="text" placeholder="输入商品名称" id="productName" class="form-control"
                   [(ngModel)]="name" name="productName"
                   #productName="ngModel"
                   required/>
        </div>
        <div [hidden]="productIntroduce.valid || productIntroduce.pristine"
             class="alert alert-danger">
            * 商品介绍为必填项
        </div>
        <div class="form-group">
            <label for="productIntroduce">商品简介: </label>
            <textarea type="text" placeholder="商品简介" class="form-control" id="productIntroduce"
                      [(ngModel)]="introduce" name="productIntroduce"
                      #productIntroduce="ngModel"
                      required
            ></textarea>
        </div>
        <hr>

        <button class="btn btn-primary" (click)="addAttribute()">新增属性</button>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-light">
                <tr>
                    <th *ngFor="let name of head">
                        {{ name }}
                    </th>
                    <th scope="col" *ngIf="head.length > 0">单价</th>
                    <th scope="col" *ngIf="head.length > 0">数量</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of sku">
                    <td *ngFor="let name of head">
                        {{ item[name] }}
                    </td>
                    <td>
                        <input type="number" name="unit" class="form-control" title="单价"
                               [(ngModel)]="item.unit">
                    </td>
                    <td>
                        <input type="number" name="amount" class="form-control" title="数量"
                               [(ngModel)]="item.amount">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>

        <div class="form-group">
            <label for="productThumbnails">微缩图: </label>
            <input type="file" placeholder="上传商品微缩图" id="productThumbnails" class="form-control"
                   name="productThumbnails" ng2FileSelect [uploader]="imageUploader"
                   (change)="selectedFileOnChanged(thumbnails)" multiple/>
        </div>
        <div *ngFor="let item of thumbnails">
            <img src="{{ item.src }}" style="width: 50px; height: 50px;" title="{{ item.originalName }}"/>
        </div>
        <button type="button" class="btn btn-success btn-xs" (click)="uploadAll(thumbnails, imageUploader)">
            上传
        </button>
        <hr>

        <div class="form-group">
            <label for="productDescription">商品长图: </label>
            <input type="file" placeholder="上传商品简介" class="form-control" id="productDescription"
                   name="productDescription" ng2FileSelect [uploader]="imageUploader"
                   (change)="selectedFileOnChanged(details)" multiple/>
            <div *ngFor="let item of details">
                <img src="{{ item.src }}" style="width: 50px; height: 50px;" title="{{ item.originalName }}"/>
            </div>
            <button type="button" class="btn btn-success btn-xs" (click)="uploadAll(details, imageUploader)">
                上传
            </button>
        </div>

        <div class="form-group">
            <label for="productVideo">上传视频（仅支持mp4格式） </label>
            <input type="file" placeholder="上传商品视频" class="form-control" id="productVideo"
                   name="productVideo" ng2FileSelect [uploader]="videoUploader"
                   (change)="selectedVideoOnChanged(videos)"/>
            <button type="button" class="btn btn-success btn-xs" (click)="uploadAll(videos, videoUploader)">
                上传
            </button>
        </div>
    </form>
</div>
