<script src="list-template.component.ts"></script>
<div [hidden]="errorMessage === ''" class="alert alert-danger"> {{errorMessage}}</div>

<div class="alert alert-primary d-flex flex-row justify-content-between" role="alert">
    <div>1. 请从以下已应用的模版中选择并提交微信审核</div>
    <a class="btn btn-sm btn-outline-primary" href="{{ trialQRCode }}" target="_blank">体验最近上传的小程序模版</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">模版ID</th>
            <th scope="col">描述</th>
            <th scope="col">版本</th>
            <th scope="col">上传时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let template of applied">
            <th scope="row">{{ template.templateid }}</th>
            <td>{{ template.userDescription }}</td>
            <td>{{ template.userVersion }}</td>
            <td>{{ template.commitTime }}</td>
            <td>
                <button class="btn btn-sm btn-outline-danger" (click)="submitAudit(template)">提交审核</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-primary" role="alert">
    2. 查看提交模版的审核状态，审核通过后可全网发布
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">模版ID</th>
            <th scope="col">描述</th>
            <th scope="col">版本</th>
            <th scope="col">审核时间</th>
            <th scope="col">状态</th>
            <th scope="col">结果</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let template of audit">
            <th scope="row">{{ template.templateid }}</th>
            <td>{{ template.userDescription }}</td>
            <td>{{ template.userVersion }}</td>
            <td>{{ template.submitTime }}</td>
            <td>
                <div *ngIf="template.status === 0">审核通过</div>
                <div *ngIf="template.status === 1">审核失败</div>
                <div *ngIf="template.status === 2">审核中</div>
            </td>
            <td>{{ template.reason }}</td>
            <td>
                <button class="btn btn-sm btn-outline-danger" (click)="queryAudit(template)">查询结果</button>
                <button *ngIf="template.status === 2" class="btn btn-sm btn-outline-danger" (click)="undoCodeAudit(template)">摊销审核</button>
                <button *ngIf="template.status === 0" class="btn btn-sm btn-outline-danger" (click)="releaseVersion(template)">发布</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-primary" role="alert">
    3. 版本管理，在此设置已发布版本的状态
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">模版ID</th>
            <th scope="col">描述</th>
            <th scope="col">版本</th>
            <th scope="col">发布时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let template of release">
            <th scope="row">{{ template.templateid }}</th>
            <td>{{ template.userDescription }}</td>
            <td>{{ template.userVersion }}</td>
            <td>{{ template.commitTime }}</td>
            <td>
                <button class="btn btn-sm btn-outline-danger">是否可见</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
