<div class="container">
    <form #businessForm="ngForm">
        <div [hidden]="errorMessage === ''"
             class="alert alert-danger">
            {{errorMessage}}
        </div>
        <button class="btn btn-success" [disabled]="!businessForm.form.valid" (click)="onSubmit()">提交</button>
        <hr>

        <div class="form-group">
            <div ngbDropdown #businessTypeDropdown="ngbDropdown">
                <button class="btn btn-outline-primary" id="businessType" ngbDropdownToggle>{{businessTypeHint}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <button *ngFor="let item of businessTypeGroup" class="dropdown-item"
                            (click)="chooseBusinessType(item.name, item.index)">{{ item.name }}
                    </button>
                </div>
            </div>
        </div>

        <div [hidden]="businessName.valid || businessName.pristine"
             class="alert alert-danger">
            * 商户名称为必填项
        </div>
        <div class="form-group">
            <label for="businessName"> * 商户名称: </label>
            <input type="text" placeholder="输入商户名称" id="businessName" class="form-control"
                   [(ngModel)]="business.name" name="businessName"
                   #businessName="ngModel"
                   required/>
        </div>
        <hr>

        <div [hidden]="businessAddress.valid || businessAddress.pristine"
             class="alert alert-danger">
            * 商户地址为必填项
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
                <label for="businessAddress"> * 请输入完整的商户地址后点击 </label>
                <button class="btn btn-success" [disabled]="!businessAddress.valid" (click)="getCoordinates()">
                    获取经纬度
                </button>
            </div>
            <div *ngIf="business.longitude">
                经度: {{ business.longitude }} 纬度:{{ business.latitude }}
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="form-group left">
                <textarea type="text" placeholder="输入商户地址" id="businessAddress" class="form-control"
                          [(ngModel)]="business.address" name="businessAddress"
                          #businessAddress="ngModel"
                          required
                ></textarea>
            </div>
            <div id="tencent-map" class="right"></div>
        </div>
        <hr>

        <!--<div class="form-group">-->
            <!--<div class="d-flex flex-row align-items-center answer">-->
                <!--<div>关联商品: {{ business.associatedProductPid }}</div>-->
                <!--<div *ngIf="business.associatedProductPid !== ''" (click)="chooseProduct('')"><img-->
                        <!--src="../../../assets/public/close.png"></div>-->
            <!--</div>-->
            <!--<div class="d-flex flex-row">-->
                <!--<div class="d-flex flex-column justify-content-center align-items-center">-->
                    <!--<div class="division" (click)="turnProductPage(-1)"><img src="../../../assets/public/up.png"></div>-->
                    <!--<div>{{ curProductPage }}</div>-->
                    <!--<div class="division" (click)="turnProductPage(1)"><img src="../../../assets/public/down.png"></div>-->
                <!--</div>-->
                <!--<div class="table-responsive">-->
                    <!--<table class="table table-striped table-hover">-->
                        <!--<thead class="thead-light">-->
                        <!--<tr>-->
                            <!--<th scope="col">商品名（按创建时间排序）</th>-->
                            <!--<th>商品类别</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr *ngFor="let product of products">-->
                            <!--<td>-->
                                <!--<input title="关联的商品" class="form-check-input" style="margin-left: 0" type="radio"-->
                                       <!--name="myProduct" value='{{ product.pid }}'-->
                                       <!--[(ngModel)]="business.associatedProductPid"-->
                                       <!--checked="{{ product.pid === business.associatedProductPid }}">-->
                                <!--<label class="form-check-label" style="margin-left: 2rem"-->
                                       <!--(click)="chooseProduct(product.pid)">-->
                                    <!--{{ product.name }}-->
                                <!--</label>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<div *ngIf="product.type === 0">实物</div>-->
                                <!--<div *ngIf="product.type === 1">卡券</div>-->
                            <!--</td>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr>-->

        <div class="form-group">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center answer">
                    <div>关联软文: {{ business.associatedMaterialId }}</div>
                    <div *ngIf="business.associatedMaterialId !== ''"
                         (click)="chooseMaterial({media_id:'',content:null})"><img
                            src="../../../assets/public/close.png"></div>
                </div>
                <div *ngIf="associatedMaterial">
                    创建时间:{{ associatedMaterial.create_time }}更新时间:{{ associatedMaterial.update_time }}
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="division" (click)="turnMaterialPage(-1)"><img src="../../../assets/public/up.png"></div>
                    <div>{{ curMaterialPage }}</div>
                    <div class="division" (click)="turnMaterialPage(1)"><img src="../../../assets/public/down.png">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-start">
                    <div class="table-responsive" style="width: 480px">
                        <table class="table table-striped table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">资源ID（按创建时间排序）</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let material of materials">
                                <td>
                                    <input title="关联的软文" class="form-check-input" style="margin-left: 0" type="radio"
                                           name="myMaterial" value='{{ material.media_id }}'
                                           [(ngModel)]="business.associatedMaterialId"
                                           checked="{{ material.media_id === business.associatedMaterialId }}">
                                    <label class="form-check-label" style="margin-left: 2rem"
                                           (click)="chooseMaterial(material)">
                                        {{ material.media_id }}
                                    </label>
                                </td>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="associatedMaterial" style="width: 700px">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">标题</th>
                                    <th>作者</th>
                                    <th>链接</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let article of associatedMaterial.news_item">
                                    <td>
                                        {{article.title}}
                                    </td>
                                    <td>
                                        {{article.author}}
                                    </td>
                                    <td>
                                        <a href="{{article.url}}" target="_blank">查看详情</a>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label for="businessShopHours">营业时间: </label>
            <input type="text" placeholder="输入营业时间" id="businessShopHours" class="form-control"
                   [(ngModel)]="business.shopHours" name="businessShopHours"
                   #businessShopHours="ngModel"/>
        </div>
        <hr>

        <div class="form-group">
            <label for="businessPhone">联系电话: （不同电话间以英文分号;隔开）</label>
            <input type="text" placeholder="输入联系电话" id="businessPhone" class="form-control"
                   [(ngModel)]="business.phone" name="businessPhone"
                   #businessPhone="ngModel"/>
        </div>
        <hr>

        <div class="form-group">
            <label for="businessComsuptionPerPersion">人均消费: </label>
            <input type="text" placeholder="输入人均消费" id="businessComsuptionPerPersion" class="form-control"
                   [(ngModel)]="business.consumptionPerPerson" name="businessComsuptionPerPersion"
                   #businessComsuptionPerPersion="ngModel"/>
        </div>
        <hr>

        <div class="form-group">
            <label for="businessRemark">备注: </label>
            <textarea type="text" placeholder="输入备注" id="businessRemark" class="form-control"
                      [(ngModel)]="business.remark" name="businessRemark"
                      #businessRemark="ngModel"></textarea>
        </div>
        <hr>
    </form>
</div>
